.toolbar {
  display: flex;
  align-items: center;

  /* background-color: rgb(176, 214, 248); */
  /* background-color: white; */
  font-weight: 400;
  /* border-bottom: 1px solid #eeeef1; */

  border-radius: 20px;
  /* position: sticky; */
  /* position: -webkit-sticky; */
  /* top: 0px; */
  cursor: pointer;
}

@supports (backdrop-filter: blur(20px)) {
  .toolbar {
    border: none;
    /* background-color: rgba(255, 255, 255, 0.8); */
    /* background-color: rgb(192, 222, 248); */
    backdrop-filter: blur(20px);
  }
}

.toolbar .indicatorshow {
  display: flex;
  background-color: rgb(255, 87, 87);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: aliceblue;
}

.toolbar .indicatorhide {
  display: flex;
  background-color: rgb(255, 87, 87);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
   color: aliceblue;
}

.toolbar-title {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.left-items,
.right-items {
  flex: 1;
  padding: 10px;
  display: flex;
}

.right-items {
  flex-direction: row-reverse;
}

.left-items .toolbar-button {
  margin-right: 20px;
}

.right-items .toolbar-button {
  margin-left: 20px;
}

.left-items .toolbar-button:last-child,
.right-items .toolbar-button:last-child {
  margin: 0;
}
